sudo: required
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)

before_install:
  - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  - unzip awscliv2.zip
  - sudo ./aws/install
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl
  - mkdir ${HOME}/.kube
  - echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin
  - docker build -t onxssis/v1commerce-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true onxssis/v1commerce-test yarn test

deploy:
  - provider: cloudformation
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    template: cloudformation.yaml
    stack_name: v1commerce-eks-stack
    capabilities: CAPABILITY_NAMED_IAM
    region: eu-west-3
    edge: true
    parameters:
      RDSMasterPassword: $RDS_MASTER_PASSWORD
    output_file: cloudformation.output
    on:
      branch: master
  - provider: script
    script: bash ./build.sh
    on:
      branch: master
